* {
  background: #222;
  margin: 0;
  padding: 0;
  height:200vmin;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.obj {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50vmin);
}

.p-orbit , #m-orbit{
  border: 0.1vmin solid rgb(238, 223, 223);
  opacity: 0.5;
  background: transparent;
}

#belt {
  height: 97vmin;
  width: 97vmin;
  animation: spin 50s infinite linear;
  margin-top: 50vmin;
}

@keyframes spin {
  0%{transform :rotate(0deg);}
  100%{transform :rotate(360deg);}

}

#m-orbit {
  height: 8vmin;
  width: 8vmin;
}
.planet, #moon{
  z-index: 100;
}

#moon {
  height: 1vmin;
  width: 1vmin;
  background-color: white;
}

#sun {
  height: 12vmin;
  width: 12vmin;
}
#mercury {
  height: 2vmin;
  width: 2vmin;
}
#venus {
  height: 3vmin;
  width: 3vmin;
}
#earth {
  height: 4vmin;
  width: 4vmin;
}
#mars {
  height: 3.5vmin;
  width: 3.5vmin;
}
#jupiter {
  height: 8vmin;
  width: 8vmin;
}
#saturn {
  height: 12vmin;
  width: 12vmin;
  border-radius: 0%;
}
#uranus {
  height: 6vmin;
  width: 6vmin;
}
#neptune {
  height: 5vmin;
  width: 5vmin;
}